/* General */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova", serif;
    text-align: justify;
    pointer-events: auto;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #676D79;
}

/* Book */
.book {
    position: relative;
    width: 410px;
    height: 500px;
    transition: transform 0.5s;
    margin-top: -50px;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: #F3F3F3;
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 2px solid #676D79;
}

.back {
    z-index: 0;
    backface-visibility: hidden; 
}

.front-cover,
.back-cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:10px 20px;
    gap: 20px;
}

.back-cover {
    transform: rotateY(180deg);
    width:100%;
}

.back-cover img,
.back-content{
    transform: rotateY(180deg); 
    background-color: #F3F3F3;
}

h1{
    font-family: "Cabin", serif;
    font-weight: bold;
    font-style: italic;
    margin-top: -10px;
}

h2{
    font-family: "Cabin", serif;
    font-weight: bolder;
    font-size: 0.8rem;
    margin-top: -10px;
}

p{
    font-size: 0.7rem;
}

.evidence-links {
    position: relative;
    color: #676D79; 
    font-family: "Cabin", serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    cursor:pointer;
    z-index:3927381782122;
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */

.next-btn{
margin-top: 220px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: -40px;
    transform: translateY(-50%);
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

/* Portfolio */
.portfolio_container {
    padding: 20px 0;
}

.about-txt{
    max-width: 45%;
}

.portfolio1{
    max-width:50%;
    margin-left: 188px;
    margin-top: -150px;
    margin-bottom: 70px;
}

.designChoices-title{
    max-width: 45%;
    margin-left: 280px;
    margin-top: -27px;
}

.designChoices-txt1{
    max-width: 47%;
    margin-left: 190px;
    margin-top: -20px;
    padding-bottom: 58px;
}

.designChoices-txt2{
    max-width: 100%;
    margin-top: -120px;
}

.portfolio2{
    width:46%;
    margin-right: 160px;
    margin-top: -260px;
    margin-bottom: 140px;
}

.portfolio_container p {
  margin-top: -10px;
}

.feedback1{
    background-color: #676D79;
    color: #ffffff;
    padding:15px;
    border: 2px dashed #fff;
    margin-top: 20px;
    margin-bottom:15px;
    margin-left: 40px;
    width:80%;
}

.feedback1 h2{
    display: flex;
    justify-content: center;
    margin-bottom: -8px;
}

.designTools-title{
    margin-top: 10px;
    margin-bottom: -15px;
}
.designTools-txt{
    max-width: 30%;
    margin-top: -30px;
    padding-bottom: 28px;
}

.designtools{
    max-width:18%;
    margin-top: -180px;
    margin-left: 120px;
}

.initialMAGcover{
    width:38%;
    margin-top: -220px;
    margin-left: 200px;
}

.reflection-title{
    margin-top: -17px;
}
.reflection-txt{
    margin-top: -47px;
}

/*Branding Blik*/
.blik_container {
    padding: 20px 0;
}

.blik_container2 {
    column-count: 2;
    column-gap: 25px;
    padding: 20px 0;
}

.about-title{
    margin-bottom: 10px;
}

.about-txtblik{
    margin-top:-20px;
}

.blik_collage{
    width: 38%;
    margin-top:15px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.title1{
    margin-top: -135px;
    margin-left: 300px;
}

.moodboard-txt{
    width: 42%;
    margin-top:-15px;
    margin-left: 210px;
}

.blik_stylescape{
    position:relative;
    width: 40%;
    margin-top: 10px;
    margin-left: 213px;
    margin-bottom: -10px;
}

.title2{
    margin-top: 10px;
    margin-left: 300px;
}

.stylescape-txt{
    width: 42%;
    margin-top:-10px;
    margin-left: 210px;
    margin-bottom: 10px;
}

.documentation-blik {
    width: 110%;
    margin-top: -10px;
}

.mockup-title{
    margin-top: 15px;
    margin-left: 45px;
}

.blik-mockup1{
    position: relative;
    width:95%;
    margin-top: 165px;
    margin-left: -180px;
}

.blik-mockup2{
    position: relative;
    width:95%;
    top: -470px;
    margin-left: 25px;
}

.feedback2{
    position:relative;
    font-size: 2px;
    background-color: #676D79;
    color: #ffffff;
    padding:15px;
    border: 2px dashed #fff;
    width:51%;
    margin-top: -210px;
    margin-bottom:15px;
}

.feedback2 h2{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.presentation-title{
    position: relative;
    margin-top: -450px;
    margin-left: 85px;
}

.presentation-txt{
    position: relative;
    width: 90%;
    margin-top: -10px;
}

.blikbackground{
    width:100%;
    height:557px;
    margin-left: -20px;
    margin-top: -10px;
    position: absolute; 
    z-index: 1;
}

.visuals-title{
    z-index: 283;
    position: relative; 
    margin-left:320px;
    margin-top: 20px;
}
.visuals-txt{
    width:40%;
    z-index: 283;
    position: relative; 
    margin-left: 210px;
    margin-top: -50px;
}

.contentstrategy-title{
    z-index: 283;
    position: relative; 
    margin-left:5px;
    margin-top: -10px;
}

.contentstrategy-txt{
    width:30%;
    z-index: 283;
    position: relative; 
    margin-left: 5px;
    margin-top: -50px;
}

.presentation2-title{
    margin-left:15px;
    margin-top: 20px;
}

.presentation2-txt{
    width:90%;
    margin-left: 15px;
    margin-top: -50px;
}

.reflection2-title{
    margin-left: 15px;
    margin-top: 230px;
    margin-bottom: -160px;
}

.reflection2-txt{
    width:90%;
    margin-top: 120px;
    margin-left: 15px;
}

.presenting{
    width:90%;
    margin-left: 15px;
    margin-top:-390px;
}

/*Layout Exercise*/
.layout1{
    width:43%;
    margin-left: 200px;
    margin-top: -140px;
}

.layout2{
    width:45%;
    margin-left: 5px;
    margin-top: -90px;
    margin-bottom: 10px;
}

.design-titleLAYOUT{
    margin-top: -95px;
    margin-left: 325px;
}

.design-txtLAYOUT{
    width:45%;
    margin-left: 195px;
    margin-top: -220px;
    margin-bottom: -40px;
}

.reflectionLAYOUT-title{
    margin-top: -30px;
    margin-left: 5px;
}

.reflectionLAYOUT-txt{
    position: relative;
    width:45%;
    margin-left: 5px;
    margin-top: -220px;
}

.layout3{
    position: relative;
    width:45%;
    height:22%;
    margin-left: 195px;
    margin-top: -150px;
}

/*fiddle exercise*/ 
.fiddle_container {
    padding: 20px 0;
}

.about-titlefiddle{
    margin-left: 2px;
}

.about-txtfiddle{
    width:95%;
    margin-left: 2px;
    margin-top: -10px;
}

.feedback3 h2{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}
.feedback3{
    position:relative;
    font-size: 2px;
    background-color: #676D79;
    color: #ffffff;
    padding:15px;
    border: 2px dashed #fff;
    width:45%;
    margin-top: 25px;
    margin-left: 10px;
}

.docnews-title{
    position:relative;
    margin-left: 270px;
    margin-top: -305px;
}

.docnews-txt{
    position:relative;
    width:43%;
    margin-left: 200px;
    margin-top: -10px;
}

.newspaperwebsite{
    position:relative;
    width:45%;
    margin-top: 30px;
    margin-left: 90px;
}

.reflectionFIDDLE-title{
    position: relative;
    margin-top: 155px;
    margin-left: 295px;
}

.reflectionFIDDLE-txt{
    position: relative;
    width:95%;
    margin-left: 5px;
    margin-top: -8px;
}

/*Monk*/
.monk_container{
    padding: -5px 0;
}

.about-titleMonk{
    margin-left: 2px;
}

.about-txtMonk{
    width:95%;
    margin-left: 2px;
    margin-top: -10px;
}

.monk1{
    width:46%;
    margin-top: -31px;
    margin-left: -5px;
}

.Design1Monk-title{
    margin-left: 310px;
    margin-top: -150px;
}
.Design1Monk-txt{
    width:40%;
    margin-left: 205px;
    margin-top: -10px;
}

.monk2{
    margin-top: -23px;
    margin-left: 185px;
    width:48%;
}

.Design2Monk-title{
    position: relative;
    margin-left: 4px;
    margin-top: -235px;
}
.Design2Monk-txt{
    position: relative;
    width:45%;
    margin-left: 4px;
    margin-top: -10px;
}

.monk3{
    position: relative;
    margin-top: -45px;
    margin-left: 15px;
    width:75%;
}

.Design3Monk-title{
    position: absolute;
    margin-left: 160px;
    margin-top: 330px;
}
.Design3Monk-txt{
    position: absolute;
    width:85%;
    margin-left: 10px;
    margin-top: 345px;
}

.monk_container2{
width:90%;

}
.monk-brainstorming{
    width:5%;
}



/*Learning Outcomes*/
/* Button Styles */
#popup-button {
    background-color: #ff7b07;
    border: none;
    color: #fff;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 422px;
    margin-left: 310px;
    font-family: "Cabin", serif;
    transform: rotate(90deg);
    letter-spacing: 3px;
    white-space: nowrap;
}

/* Popup Styles */
.popup {
    position: fixed;
    right: -365px;
    top: 55%; 
    transform: translateY(-50%); 
    background-color: #676D79;
    border:2px solid #ffc107;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width:73%;
    z-index: 109238928300;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height:400px;
    overflow-y: auto; 
}

.popup::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.popup h1 {
    font-size: 15px;
    margin-bottom: 8px;
    color: #f8e9c1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.LO{
    font-size: 12px;
    margin-bottom: 20px;
    color: #f8e9c1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup .evidence-links a {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    color: #f4da92;
    text-decoration: none;
    font-family: "Cabin", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup .evidence-links a:last-child {
    margin-bottom: 20px; 
}

.popup .evidence-links a:hover {
    text-decoration: underline;
}

.LO-reflection p {
    font-size: 12px;
    padding:5px;
    background-color:#f8e9c1;
    color: #595e68;
    border:4px solid #f4da92;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
}

#close-popup{
    font-size: 20px;
    color: #ffc107;
    z-index: 92482871727;
    position:fixed;
    margin-top: -4045px;
    margin-left: 253px;
    font-family: "Cabin", serif;
}
#close-popup:hover{
   color:#ff7b07;
}

/* Hidden class for toggling visibility */
.hidden {
    display: none;
}
