/* General */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova", serif;
    text-align: justify;
    pointer-events: auto;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #676D79;
}

/* Book */
.book {
    position: relative;
    width: 410px;
    height: 500px;
    transition: transform 0.5s;
    margin-top: -50px;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: #F3F3F3;
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 2px solid #676D79;
}

.back {
    z-index: 0;
    backface-visibility: hidden; 
}

.front-cover,
.back-cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:10px 20px;
    gap: 20px;
}

.back-cover {
    transform: rotateY(180deg)
}

.back-cover img,
.back-content{
    transform: rotateY(180deg); 
    background-color: #F3F3F3;
}

h1{
    font-family: "Cabin", serif;
    font-weight: bold;
    font-style: italic;
    margin-top: -10px;
}

h2{
    font-family: "Cabin", serif;
    font-weight: bolder;
    font-size: 0.8rem;
    margin-top: -10px;
}

p{
    font-size: 0.7rem;
}

a {
    z-index: 10; 
    position: relative;
    color: #676D79; 
    font-weight: bold;
    font-style: italic;
    text-decoration: none; 
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: -40px;
    transform: translateY(-50%);
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

/* Portfolio */
.portfolio_container {
    padding: 20px 0;
}

.about-txt{
    max-width: 45%;
}

.portfolio1{
    max-width:50%;
    margin-left: 188px;
    margin-top: -150px;
    margin-bottom: 70px;
}

.designChoices-title{
    max-width: 45%;
    margin-left: 280px;
    margin-top: -27px;
}

.designChoices-txt1{
    max-width: 47%;
    margin-left: 190px;
    margin-top: -20px;
    padding-bottom: 58px;
}

.designChoices-txt2{
    max-width: 100%;
    margin-top: -120px;
}

.portfolio2{
    width:46%;
    margin-right: 160px;
    margin-top: -260px;
    margin-bottom: 140px;
}

.portfolio_container p {
  margin-top: -10px;
}

.feedback1{
    background-color: #676D79;
    color: #ffffff;
    padding:15px;
    border: 2px dashed #fff;
    margin-top: 20px;
    margin-bottom:15px;
    margin-left: 40px;
    width:80%;
}

.feedback1 h2{
    display: flex;
    justify-content: center;
    margin-bottom: -8px;
}

.designTools-title{
    margin-top: 10px;
    margin-bottom: -15px;
}
.designTools-txt{
    max-width: 30%;
    margin-top: -30px;
    padding-bottom: 28px;
}

.designtools{
    max-width:18%;
    margin-top: -180px;
    margin-left: 120px;
}

.initialMAGcover{
    width:38%;
    margin-top: -220px;
    margin-left: 200px;
}

.reflection-title{
    margin-top: -17px;
}
.reflection-txt{
    margin-top: -47px;
}

/*Branding Blik*/
.blik_container {
    padding: 20px 0;
}

.blik_container2 {
    column-count: 2;
    column-gap: 25px;
    padding: 20px 0;
}

.about-title{
    margin-bottom: 10px;
}

.about-txtblik{
    margin-top:-20px;
}

.blik_collage{
    width: 38%;
    margin-top:15px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.title1{
    margin-top: -135px;
    margin-left: 300px;
}

.moodboard-txt{
    width: 42%;
    margin-top:-15px;
    margin-left: 210px;
}

.blik_stylescape{
    position:relative;
    width: 40%;
    margin-top: 10px;
    margin-left: 213px;
    margin-bottom: -10px;
}

.title2{
    margin-top: 10px;
    margin-left: 300px;
}

.stylescape-txt{
    width: 42%;
    margin-top:-10px;
    margin-left: 210px;
    margin-bottom: 10px;
}

.documentation-blik {
    width: 110%;
    margin-top: -10px;
}

.mockup-title{
    margin-top: 15px;
    margin-left: 45px;
}

.blik-mockup1{
    position: relative;
    width:95%;
    margin-top: 165px;
    margin-left: -180px;
}

.blik-mockup2{
    position: relative;
    width:95%;
    top: -470px;
    margin-left: 25px;
}

.feedback2{
    position:relative;
    font-size: 2px;
    background-color: #676D79;
    color: #ffffff;
    padding:15px;
    border: 2px dashed #fff;
    width:51%;
    margin-top: -210px;
    margin-bottom:15px;
}

.feedback2 h2{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.presentation-title{
    position: relative;
    margin-top: -450px;
    margin-left: 85px;
}

.presentation-txt{
    position: relative;
    width: 90%;
    margin-top: -10px;
}

.blikbackground{
    width:100%;
    height:557px;
    margin-left: -20px;
    margin-top: -10px;
    position: absolute; 
    z-index: 1;
}

.visuals-title{
    z-index: 283;
    position: relative; 
    margin-left:320px;
    margin-top: 20px;
}
.visuals-txt{
    width:40%;
    z-index: 283;
    position: relative; 
    margin-left: 210px;
    margin-top: -50px;
}

.contentstrategy-title{
    z-index: 283;
    position: relative; 
    margin-left:5px;
    margin-top: -10px;
}

.contentstrategy-txt{
    width:30%;
    z-index: 283;
    position: relative; 
    margin-left: 5px;
    margin-top: -50px;
}

.presentation2-title{
    position: relative; 
    margin-left:10px;
    margin-top: 0px;
}

.presentation2-txt{
    width:200%;
    position: relative; 
    margin-left: 10px;
    margin-top: 50px;
}

.presenting{
    width:200%;
    margin-left: 10px;
    margin-top: -20px;
    position:relative;
}

.reflection2-title{
    margin-left: 20px;
    margin-top: 60px;
    position: relative; 
}

.reflection2-txt{
    width:200%;
    margin-top: -330px;
    margin-left: -185px;
    position: relative; 
}